<ion-view title="Multicast" hide-back-button="true" style="background: #7FCE25" hide-nav-bar="true">



    <ion-content has-header="true" padding="true">

        <div class="list list-inset"  style="background: #7FCE25">

            <label class="item item-input">
                <span class="input-label">Username</span>
                <input ng-model="credentials.email" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input ng-model="credentials.password" type="password">
            </label>

            <button class="button button-block button-light" ng-click="login()">
                Login
            </button>


        </div>

    </ion-content>

</ion-view>