<ion-view title="Notifications" hide-back-button="true">

<!--    <ion-nav-bar class="bar-positive nav-title-slide-ios7" ng-class="{'bar-online': online, 'bar-offline': !online  }">
    </ion-nav-bar>-->

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button  class="button button-icon icon ion-ios7-eye-outline" ng-click="showMarkAsRead = !showMarkAsRead"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="false">
        <ion-list ng-repeat="notification in notifications" show-delete="showMarkAsRead">
            <ion-item ng-click="watchFeed(notification)">
                <h2>{{getDate(notification.timestamp)}}</h2>
                <p>{{getDescription(notification)}}</p>
                <ion-delete-button class="ion-ios7-eye" ng-click="markAsRead(notification)"></ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>